body {
  background-image: url(01.jpg);
  background-color: rgba(.1, .1, .1, .5);
  background-blend-mode: multiply;
  background-size: 1250px 600px;
  background-repeat: no-repeat;
  height: 120px;
}

.navbar {
  background-color: rgba(0, 0, .1, .55);
  height: 90px;
}

.navbar-brand {
  color: aliceblue;
}

form {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 7%;
  margin-right: 25%;
  text-align: justify;
  float: right;
  color: aliceblue
}

.button {
  background-color: #003366;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

p {
  margin-top: 5%;
  font-size: larger;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
  body {

    background-image: url(01.jpg);
    background-color: rgba(.1, .1, .1, .5);
    background-blend-mode: multiply;
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
    height: 9500px;
  }

  .navbar {
    background-color: rgba(0, 0, .1, .55);
    height: 110px;
  }

  .navbar-brand {
    color: aliceblue;
    font-size: 15px;
  }

  form {
    display: block;
    margin: auto;
    width: 60%;
    margin-top: 60%;
    margin-right: 20%;
    margin-left: 5%;
    text-align: justify;
    float: right;
    color: aliceblue;
    font-size: 18px;
  }

  .button {
    background-color: #003366;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

  }

  p {
    margin-top: 5%;
    font-size: 18px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
  }

}